<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-app>
        <v-main>
            <v-container fluid>
                <v-row>
                    <v-col>
                        <v-card class="mx-auto" max-width="550">
                            <v-card-title>
                                Calculate mortgage payments
                                <v-spacer></v-spacer>
                                <v-switch
                                        v-model="isFixMortgageVisible"
                                        :label="`${isFixMortgageVisible ? 'Hide' : 'Show'}`"
                                ></v-switch>
                            </v-card-title>

                            <v-card-text v-show="isFixMortgageVisible">
                                <v-text-field
                                        v-model="propertyPriceInput"
                                        type="number"
                                        label="Price of property (K)"
                                        prefix="$"
                                        suffix="K"
                                        outlined>
                                </v-text-field>

                                <v-row>
                                    <v-col>
                                        <v-switch
                                                v-model="isDownPaymentPercent"
                                                :label="`${isDownPaymentPercent ? '%' : '$'}`"
                                                @change="onChange"
                                        ></v-switch>
                                    </v-col>
                                    <v-col>
                                        <v-text-field
                                                v-model="downPaymentPercent"
                                                type="number"
                                                prefix="%"
                                                :label="isDownPaymentPercent ? 'Down payment' : ''"
                                                :outlined="isDownPaymentPercent"
                                                :filled="!isDownPaymentPercent"
                                                :disabled="!isDownPaymentPercent">
                                        </v-text-field>
                                    </v-col>
                                    <v-col>
                                        <v-text-field
                                                v-model="downPaymentAmount"
                                                type="number"
                                                prefix="$"
                                                suffix="K"
                                                :label="!isDownPaymentPercent ? 'Down payment (K)' : ''"
                                                :outlined="!isDownPaymentPercent"
                                                :filled="isDownPaymentPercent"
                                                :disabled="isDownPaymentPercent">
                                        </v-text-field>
                                    </v-col>
                                </v-row>

                                <v-text-field
                                        type="number"
                                        label="Mortgage amount"
                                        :value="mortgageAmountRounded"
                                        suffix="$"
                                        filled
                                        readonly>
                                </v-text-field>

                                <v-row>
                                    <v-col>
                                        <v-text-field
                                                v-model="interestRate"
                                                type="number"
                                                label="Interest rate"
                                                suffix="%"
                                                outlined>
                                        </v-text-field>
                                    </v-col>

                                    <v-col>
                                        <v-text-field
                                                v-model="amortization"
                                                type="number"
                                                label="Amortization"
                                                suffix="years"
                                                outlined>
                                        </v-text-field>
                                    </v-col>
                                </v-row>

                                <v-text-field
                                        v-model="paymentPerYear"
                                        type="number"
                                        label="Payment frequency"
                                        suffix="/years"
                                        outlined>
                                </v-text-field>

                                <v-text-field
                                        type="number"
                                        label="Payment amount"
                                        :value="payment"
                                        suffix="$"
                                        filled
                                        readonly>
                                </v-text-field>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-card class="mx-auto" max-width="550">
                            <v-card class="mx-auto mb-10 pa-5">
                                <h4>
                                    Fix Mortgage Rate ({{ interestRate }} %):
                                    {{ numberWithSpaces(mortgageAmountRounded) }} $
                                    <br>
                                    Down payment: {{ numberWithSpaces(downPaymentAmountRounded) }} $
                                    <br>
                                    Total Interest: {{ numberWithSpaces(caculateMoratageTotalInterest) }} $
                                    <br>
                                    <strong :style="caculateMoratageTotalCost < caculateVariableMoratageTotalCost ? 'color: green': 'color: red'">
                                        Total cost: {{ numberWithSpaces(caculateMoratageTotalCost) }} $
                                    </strong>
                                </h4>

                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                        <tr>
                                            <th class="text-center">
                                                Month
                                            </th>
                                            <th class="text-center">
                                                Interest
                                            </th>
                                            <th class="text-center">
                                                Capital
                                            </th>
                                            <th class="text-center">
                                                Residual balance
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in paymentsFiltered" :key="item.id">
                                            <td class="text-center">{{ item.id }}</td>
                                            <td class="text-center">{{ numberWithSpaces(item.interest) }} $</td>
                                            <td class="text-center">{{ numberWithSpaces(item.capital) }} $</td>
                                            <td class="text-center">{{ numberWithSpaces(item.balance) }} $</td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-card>
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card class="mx-auto" max-width="550">
                            <v-card class="mx-auto pa-5">
                                <h4>
                                    Variable Mortgage: {{ numberWithSpaces(mortgageAmountRounded) }} $
                                    <br>
                                    Down payment: {{ numberWithSpaces(downPaymentAmountRounded) }} $
                                    <br>
                                    Total Interest: {{ numberWithSpaces(caculateVariableMoratageTotalInterest) }} $
                                    <br>
                                    <strong :style="caculateVariableMoratageTotalCost < caculateMoratageTotalCost ? 'color: green': 'color: red'">
                                        Total cost: {{ numberWithSpaces(caculateVariableMoratageTotalCost) }} $
                                    </strong>
                                </h4>

                                <v-simple-table>
                                    <template v-slot:default>
                                        <thead>
                                        <tr>
                                            <th class="text-center">
                                                Month
                                            </th>
                                            <th class="text-center">
                                                Interest rate
                                            </th>
                                            <th class="text-center">
                                                Interest
                                            </th>
                                            <th class="text-center">
                                                Capital
                                            </th>
                                            <th class="text-center">
                                                Residual balance
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="item in variablePaymentsFiltered" :key="item.id">
                                            <td class="text-center">
                                                {{ item.id % 12 === 0 ? `(${item.id / 12}) ${item.id}` : item.id }}
                                            </td>
                                            <td class="text-center">{{ numberWithSpaces(item.interestRate) }} %</td>
                                            <td class="text-center">{{ numberWithSpaces(item.interest) }} $</td>
                                            <td class="text-center">{{ numberWithSpaces(item.capital) }} $</td>
                                            <td class="text-center">{{ numberWithSpaces(item.balance) }} $</td>
                                        </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>
                            </v-card>
                        </v-card>
                    </v-col>
                    <v-col>
                        <v-card class="mr-auto" max-width="275" style="margin-top: -80px">
                            <v-card-title>
                                Variable Mortgage Rate
                            </v-card-title>

                            <v-card-text>
                                <a target="_blank" href="https://www.bankofcanada.ca/rates/interest-rates/canadian-interest-rates/">
                                    Bank of Canada Rates
                                </a>
                                <br>
                                <a target="_blank" href="https://www.bankofcanada.ca/rates/interest-rates/canadian-interest-rates/?rangeType=dates&rangeValue=1&rangeWeeklyValue=1&rangeMonthlyValue=60&ByDate_frequency=daily&lP=lookup_canadian_interest.php&sR=2011-06-16&se=BROKER_AVERAGE_5YR_VRM&dF=2020-06-17&dT=2021-06-17">
                                    Estimated variable mortgage rate
                                </a>
                            </v-card-text>

                            <v-card-text>
                                <v-row>
                                    <v-col>
                                        <v-text-field
                                                v-model="paymentConfig.estimatedVariableMortgageRateInit"
                                                type="number"
                                                label="Initial Interest rate"
                                                suffix="%"
                                                outlined>
                                        </v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row v-for="(item, key) of paymentConfig.estimatedVariableMortgageRate"
                                       class="ma-0 pa-0">
                                    <v-col class="ma-0 pa-0">
                                        <v-text-field
                                                class="ma-0 pa-0 pr-3"
                                                type="number"
                                                label="Month"
                                                :value="key"
                                                filled
                                                readonly>
                                        </v-text-field>
                                    </v-col>
                                    <v-col class="ma-0 pa-0">
                                        <v-text-field
                                                class="ma-0 pa-0"
                                                v-model="paymentConfig.estimatedVariableMortgageRate[key]"
                                                type="number"
                                                label="Prediction Rate"
                                                suffix="%"
                                                outlined
                                                @change="paymentConfig.estimatedVariableMortgageRate = { ...paymentConfig.estimatedVariableMortgageRate }">
                                        </v-text-field>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data() {
            return {
                isFixMortgageVisible: true,
                propertyPriceInput: 685.0,
                downPayment: 20.0,
                isDownPaymentPercent: true,
                amortization: 25.0,
                interestRate: 2.12,
                paymentPerYear: 12.0,
                paymentConfig: {
                    estimatedVariableMortgageRateInit: 1.25,
                    estimatedVariableMortgageRate: {
                        3: 1.45,
                        6: 1.65,
                        9: 1.75,
                        12: 1.80,
                        15: 1.85,
                        18: 1.95,
                        21: 2.00,
                        24: 2.10,
                        30: 2.15,
                        36: 2.30,
                        42: 2.50,
                        48: 2.75,
                    },
                    INITIAL_INTEREST_RATE: 1.25,
                    INTEREST_RATE_INCREMENT: 0.5,
                    INTEREST_RATE_INTERVAL: 3, // Increment every x months
                    PAYMENT_MAX_QTY_FILTER: 60,
                }
            };
        },
        computed: {
            propertyPrice() {
                return this.propertyPriceInput * 1000.0;
            },
            downPaymentPercent: {
                get() {
                    if (this.isDownPaymentPercent) {
                        return this.downPayment;
                    } else {
                        return parseFloat((this.downPaymentAmount * 100.0 / this.propertyPrice).toFixed(3));
                    }
                },
                set(value) {
                    this.downPayment = value;
                }
            },
            downPaymentAmount: {
                get() {
                    if (this.isDownPaymentPercent) {
                        return this.numberToFixed(this.propertyPrice * this.downPayment / 100.0 / 1000.0);
                    } else {
                        return this.downPayment;
                    }
                },
                set(value) {
                    this.downPayment = value;
                }
            },
            downPaymentAmountRounded() {
                return this.numberToFixed(this.isDownPaymentPercent ? this.propertyPrice * this.downPayment / 100.0 : this.downPayment * 1000.0);
            },
            mortgageAmountRounded() {
                return this.numberToFixed(this.propertyPrice - this.downPaymentAmountRounded);
            },
            payment() {
                const p = this.mortgageAmountRounded;
                const r = this.interestRate / 100.0;
                const t = this.amortization;
                const n = this.paymentPerYear;

                const interestRatio = r / n;
                const offSet1 = Math.pow(1 + interestRatio, n * t);
                const offSet2 = offSet1 - 1;

                return this.numberToFixed(p * interestRatio * offSet1 / offSet2);
            },
            payments() {
                const payments = [];

                let residualBalance = this.mortgageAmountRounded;
                for (let i = 0; i < this.amortization * this.paymentPerYear; i++) {
                    const paymentInterest = this.calculatePaymentInterest(residualBalance, this.interestRate, this.paymentPerYear);
                    const paymentCapital = this.payment - paymentInterest;

                    residualBalance -= paymentCapital;

                    payments.push({
                        id: i + 1,
                        interest: paymentInterest,
                        capital: paymentCapital,
                        balance: residualBalance,
                    });
                }

                return payments;
            },
            paymentsFiltered() {
                return this.payments.slice(0, this.paymentConfig.PAYMENT_MAX_QTY_FILTER).filter((item) => item.id === 1 || item.id % this.paymentConfig.INTEREST_RATE_INTERVAL === 0)
            },
            variablePayments() {
                const payments = [];
                const defaultInterestRate = this.interestRate;

                let interestRate = this.paymentConfig.estimatedVariableMortgageRateInit;
                let residualBalance = this.mortgageAmountRounded;

                for (let i = 0; i < this.amortization * this.paymentPerYear; i++) {
                    if (this.paymentConfig.estimatedVariableMortgageRate[i + 1]) {
                        interestRate = this.paymentConfig.estimatedVariableMortgageRate[i + 1];
                    }

                    if (i > this.paymentPerYear * 5 - 1) {
                        interestRate = defaultInterestRate;
                    }

                    if (typeof interestRate === 'string') {
                        interestRate = parseFloat(interestRate);
                    }

                    const paymentInterest = this.calculatePaymentInterest(residualBalance, interestRate, this.paymentPerYear);
                    const paymentCapital = this.payment - paymentInterest;

                    residualBalance -= paymentCapital;

                    payments.push({
                        id: i + 1,
                        interestRate,
                        interest: paymentInterest,
                        capital: paymentCapital,
                        balance: residualBalance,
                    });
                }

                return payments;
            },
            variablePaymentsFiltered() {
                return this.variablePayments.slice(0, this.paymentConfig.PAYMENT_MAX_QTY_FILTER).filter((item) => item.id === 1 || item.id % this.paymentConfig.INTEREST_RATE_INTERVAL === 0)
            },
            caculateMoratageTotalInterest() {
                const reducer = (total, payment) => total + payment.interest;
                return this.numberToFixed(this.payments.reduce(reducer, 0));
            },
            caculateMoratageTotalCost() {
                return this.numberToFixed(this.propertyPriceInput * 1000.0 + this.caculateMoratageTotalInterest);
            },
            caculateVariableMoratageTotalInterest() {
                const reducer = (total, payment) => total + payment.interest;
                return this.numberToFixed(this.variablePayments.reduce(reducer, 0));
            },
            caculateVariableMoratageTotalCost() {
                return this.numberToFixed(this.propertyPriceInput * 1000.0 + this.caculateVariableMoratageTotalInterest);
            },
        },
        methods: {
            numberToFixed(number = 0, precision = 2) {
                return parseFloat(number.toFixed(precision));
            },
            numberWithSpaces(x) {
                if (typeof x === 'string') {
                    x = parseFloat(x);
                }
                x = x.toFixed(2);
                const pattern = /(-?\d+)(\d{3})/;
                while (pattern.test(x))
                    x = x.replace(pattern, "$1 $2");
                return x;
            },
            onChange() {
                this.downPaymentPercent = 0;
                this.downPaymentAmount = 0;
            },
            calculatePaymentInterest(p, r, n) {
                return p * this.numberToFixed(r / 100.0 / n, 10);
            },
        },
    });
</script>
</body>
</html>
